@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,100&display=swap');

body {
    font-family: "Roboto";
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: #260080;
}

body, html {
    height: 100%;
}
  
.bg {
    /* The image used */
    background-image: url("images/headspace.webp");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-hero-container {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    background-color: rgba(0, 0, 0, 0.2);
}

.header-logo img {
    width: 100px;
    height: auto;
    margin-left: 200px;
}

.top-links {
    font-size: 18px;
    color: #fefbff;
    font-weight: 200;
    margin-right: 200px;
}

.section-1 {
    display: flex;
    align-items: center;
    gap: 32px;
    margin: 100px 200px;


}

.hero-text {
    font-size: 48px;
    font-weight: bolder;
    color: #fefbff;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 15px yellow;
}

.hero-secondary-text {
    font-size: 18px;
    color: #fefbff;
    margin-top: 8px;
}

.hero-img img {
    width: 500px;
    height: auto;
    box-shadow: 10px 10px #260080;
}

.buttons {
    background-color: #260080;
    border: 1px solid #fefbff;
    padding: 8px 28px;
    margin-top: 12px;
    border-radius: 4px;
    color: #fefbff;
    font-weight: bold;
}

.section-2 {
    background-color: #fefbff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    margin: 42px 0px;
}

.img-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 60px;
    gap: 52px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.info-text {
    color: #1f2937;
    max-width: 200px;
    text-align: center;
}

.section-3 {
    background-color: #e5e7eb;
}

.quote-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 300px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
    align-self: center;
    text-shadow: 0 0 5px #0000FF, 0 0 20px yellow;
}

.quote-section {
    font-size: 24px;
    font-weight: bold;
    color: #1f2937;
    align-self: flex-end;
}

.section-4 {
    background-color: #fefbff;
}

.top-links {
    display: flex;
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}

a {
    color: white;
    font-size: 18px;
}

a:link {
    text-decoration: none;
    color: #fefbff;
}

.border-img {
    width: 200px;
    height: 200px;
    border: 5px solid black;
    border-radius: 10px;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #260080;
    margin: 72px 200px;
    padding: 32px;
    gap: 200px;
    border-radius: 5px;
}

.modal-header {
    color: #fefbff;
    font-weight: bold;
    font-size: 20px;
}

.modal-text {
    color: #fefbff;
    font-weight: 200;
}

.button-border button {
    color: #fff;
    border-color: #fff;
    border-radius: 5px 25px;
    background-color: #260080;
    padding: 5px 25px;
    font-size: 15px;
} 

.footer {
    padding: 32px;
}

.footer-text {
    color: #fefbff;
    font-weight: 200;
    text-align: center;
    text-shadow: 0 0 5px #0000FF, 0 0 30px yellow;
}